
<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <partial name="_Meta">
    <partial name="_Styles">

</head>


<body class="fixed-left">


    <div id="wrapper">
        <partial name="_TopBar">
        <partial name="_Menu">           
               
                <div class="content-page"> 
                    <div class="content">
                        <div class="container">
                            @RenderBody()
                        </div> 
                    </div> 

                    <footer class="footer">
                      برنامه نویس : مهندس پیر محمدی
                    </footer>

                </div>


         

</div>
    <!-- END wrapper -->

    <partial name="_Scripts">

</body>
</html>